.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.top,
.mid,
.low {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

@media (min-width: 720px) {
  .top {
    flex-basis: 50%;
  }

  .low.a, .low.b {
    flex-basis: 100%;
  }
}

@media (min-width: 1280px) {
  .top {
    flex-basis: 25%;
  }

  .low.a {
    flex-basis: 75%;
  }

  .low.b {
    flex-basis: 25%;
  }
}
