.top {
  height: 50px;
}

.mid {
  height: 200px;
}

.low.a {
  height: 200px;
}

.top.a { background-color: #14BDEF; }
.top.b { background-color: #DC4A3C; }
.top.c { background-color: #00A657; }
.top.d { background-color: #F19E00; }
.mid { background-color: #4E92C1; }
.low.a { background-color: #00A556; }
.low.b { background-color: #F1CA43; }
.low.b .top.a { background-color: #BE7D00; }
.low.b .top.b { background-color: #008249; }
.low.b .top.c { background-color: #AF3A2E; }
.low.b .top.d { background-color: #0C98BE; }

.layout {
  padding: 4px;
}

.layout > * {
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.15),
              inset -1px 0 0 0 rgba(0, 0, 0, 0.15),
              inset 0 1px 0 0 rgba(0, 0, 0, 0.15),
              inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.layout {
  display: grid;
}

.top.a { grid-area: top-a; }
.top.b { grid-area: top-b; }
.top.c { grid-area: top-c; }
.top.d { grid-area: top-d; }
.mid { grid-area: mid; }
.low.a { grid-area: low-a; }
.low.b { grid-area: low-b; }

@media (max-width: 719px) {
  .layout {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "top-a"
                         "top-b"
                         "top-c"
                         "top-d"
                         "mid"
                         "low-a"
                         "low-b";
  }
}

@media (min-width: 720px) and (max-width: 1279px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "top-a top-b"
                         "top-c top-d"
                         " mid   mid "
                         "low-a low-a"
                         "low-b low-b";
  }
}

@media (min-width: 1280px) {
  .layout {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "top-a top-a top-a top-b top-b top-b top-c top-c top-c top-d top-d top-d"
                         " mid   mid   mid   mid   mid   mid   mid   mid   mid   mid   mid   mid "
                         "low-a low-a low-a low-a low-a low-a low-a low-a low-b low-b low-b low-b";
  }
}
