.top {
  height: 50px;
}

.mid {
  height: 200px;
}

.low.a {
  height: 200px;
}

.top.a { background-color: #14BDEF; }
.top.b { background-color: #DC4A3C; }
.top.c { background-color: #00A657; }
.top.d { background-color: #F19E00; }
.mid { background-color: #4E92C1; }
.low.a { background-color: #00A556; }
.low.b { background-color: #F1CA43; }
.low.b .top.a { background-color: #BE7D00; }
.low.b .top.b { background-color: #008249; }
.low.b .top.c { background-color: #AF3A2E; }
.low.b .top.d { background-color: #0C98BE; }

.layout {
  padding: 4px;
}

.layout > * {
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.15),
              inset -1px 0 0 0 rgba(0, 0, 0, 0.15),
              inset 0 1px 0 0 rgba(0, 0, 0, 0.15),
              inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.top.a { grid-column: 1 / 13; }
.top.b { grid-column: 1 / 13; }
.top.c { grid-column: 1 / 13; }
.top.d { grid-column: 1 / 13; }
.mid { grid-column: 1 / 13; }
.low.a { grid-column: 1 / 13; }
.low.b { grid-column: 1 / 13; }

@media (min-width: 720px) {
  .top.a { grid-column: 1 / 7; }
  .top.b { grid-column: 7 / 13; }
  .top.c { grid-column: 1 / 7; }
  .top.d { grid-column: 7 / 13; }

  .mid { grid-column: 1 / 13; }

  .low.a { grid-column: 1 / 13; }
  .low.b { grid-column: 1 / 13; }
}

@media (min-width: 1280px) {
  .top.a { grid-column: 1 / 4; }
  .top.b { grid-column: 4 / 7; }
  .top.c { grid-column: 7 / 10; }
  .top.d { grid-column: 10 / 13; }

  .mid { grid-column: 1 / 13; }

  .low.a { grid-column: 1 / 10; }
  .low.b { grid-column: 10 / 13; }
}
